<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Öğrenci_Otomasyonu_1._0.Properties.Settings.Öğrenci_Otomasyonu_Veritabanı_v1_0ConnectionString"
            connectionString="Data Source=LAPTOP-C3MP9PEV;Initial Catalog=&quot;Öğrenci Otomasyonu Veritabanı v1.0&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>